@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@font-face {
    font-family: "ROMANA";
    src: url(../fonts/RomanSD.ttf)
}

*{
    margin: 0;
    padding: 0;
}



.burger {
   width: 03px;
   cursor: pointer;
   display: block;
   
 }
 .burger img {
   width:800%;
 }
 .toggle-open.open {
   display: none;
 }
 .toggle-close {
   display: none;
 }
 .toggle-close.close {
   display: block;
 }
 

:root {
    --color1:#9ed930;
    --color2:#2A558C;
    --color3:#182940;
    --color4:#9FADBF;
    --color5:#D0DFF2;
    --color-blanco:#ffffff;
    --color-negro:#000000;
    --color-gris-oscuro:#454545;
 }
 
body{
   background-image: radial-gradient(#A1FFCE,#FAFFD1);
}

p {
    margin-bottom: 20px;
    line-height: 1.5;
 }
 
a {
    color: var(--color1);
    text-decoration: none;
 }

  
 h1{
   text-align: center;
   font-size: 50px;
   font-family: "ROMANA";
 }

 /* Selectores de tipo ID */

#menu-superior {
    background-color: var(--color-negro);
    font-size: 0.8em;
 }
 
 #menu-superior a {
    color: var(--color5);
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
 }
 
 #menu-superior a:hover {
    background-color: var(--color5);
    color: var(--color3);
 }
 
 #menu-superior .fila {
    justify-content: space-between;
 }
 
 #cabecera {
    background-color: var(--color-blanco);
    color: var(--color);
 }

 /* Afecta únicamente a los párrafos de la cabecera */
#cabecera p {
   margin-bottom: 0;
}

#cabecera #logo {
   width: 300px;
}

#cabecera #menu-principal a {
   padding: 30px 15px;
   color: var(--color3);
   border-bottom: solid 4px transparent;
   transition: all 0.3s ease-in-out;
}

#cabecera #menu-principal a:hover {
   color: var(--color1);
   border-bottom: solid 4px var(--color1);
}

#cabecera .fila {
   /* Alinea las cajas hijo del flexbox a los extremos izquierdo y derecho */
   justify-content: space-between;
}

#pie{
   background-color: var(--color-blanco);
   color: var(--color-negro);
}

#pie1{
   text-align: center;
   text-align-last: center;
}

#pie p{
   text-align: justify;
   font-weight: bold;
   margin-bottom: 10px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}

section{

   background-image: linear-gradient(to left green, yellow);
}




/****** ESTILOS GENERALES PARA EL MENU (aplicado a la lista de viñetas) *****/



.menu-barra {
    list-style-type: none; /* Quita la viñeta */
   display: flex; 
   font-size: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu-barra a {
display: block;
}

.menu-vertilcal{
   position: absolute;
   display: none;
   list-style: none;
   width: 200px;
   background-color: rgb(142, 255, 150);
   padding: 20px;
   margin: 20px;
}

.menu-barra li:hover .menu-vertilcal{
   display: block;
}



 /* Selectores de tipo CLASS */

.contenedor {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   text-align: justify;
}


.espaciado{
   padding-top: 50px;
   padding-bottom: 50px;
}

.fila {
   display: flex;

   margin-left: -15px;
   margin-right: -15px;
}

.fila1 {
   display: flex;
}

.columna {
   flex-basis: 0;
   flex-grow: 1;
   padding-left: 15px;
   padding-right: 15px;
}


.img-ajustar {
    width: 100%; /* Permite ajustar el ancho de la imagen al ancho de la caja padre */
    height: auto; /* Ajusta proporcionalmente la altura según el ancho */
}

/* TRANSFORMACIONES Y TRANSICIONES 2D */

.img-ajustar2{
   width: 100%;
   height: auto;
   transition: width 2s 1ss;
}

.img-ajustar2:hover{
   transform: rotate(05deg);
}
.img-ajustar3:hover{
   transform: rotate(05deg);

   -webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}

.img-ajustar3 {
   width: 60%; /* Permite ajustar el ancho de la imagen al ancho de la caja padre */
   height: auto; /* Ajusta proporcionalmente la altura según el ancho */
   transition: width 2s 1ss;

   -webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.3);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#tienda{
   padding: 60px;
}

#tienda1{
   padding: 60px;
}

 .alinear-vertical {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 

.primera-imagen{
   position: absolute;

}

.titulo-de-imagen{
   display: flex;
   flex-direction: row;
   justify-content: center;
}


@font-face {
   font-family: "norse";
   src: url(../fonts/Norse.otf)
}

/* Mujer */

#mujer{
   display: grid;

   grid-area: 
   "header header header"
   "catego images"
   "footer";

   grid-template-columns: 1fr;
   grid-template-rows: 10% 70% 30%;



}

/* LINEA DEL TITULO */
.borde{      
   border-top: solid black 03px;
   border-bottom: solid black 03px;
}

.categorias{
   font-size: 60px;
   margin: 20px;
}



/* LISTA DE CATEGORIAS */
.lista{
   font-size: 30px;
   padding: 40px;
   margin: 20px;
}


/* TAMAÑO Y POSICION DE LOS BOTONES DE TALLA */
.tallas{
   padding: 10px;
   font-size: 23px;
}

.talle{
   padding: 10px;
   font-size: 23px;
}

/* Formulario */

.form-register {
   width: 300px;
   padding: 90px;
   background-image: linear-gradient(#00467F,#A5CC82 );
   margin: auto;
   margin-top: 15px;
   border-radius: 10px;

}

.form-register h3 {
   font-size:  40px;
   margin-bottom: 30px;

}

.controles {
   width: 250px;
   background: var(--color-blanco);
   padding: 15px;
   border-radius: 5px;
   margin-bottom: 15px;
   border: 2px solid cornflowerblue;
}

.form-register .botones {
   width: 300px;
   background: #9ed930;
   border: none;
   padding: 15px;
   color: var(--color-blanco);
}

/* Codigo responsive para celular (320px) */
@media screen and (max-width:320px) {
   .contenedor {
      max-width: 90%;
   }

   h1 {
      font-size: 1em;
   }

   #valores .fila {
      /* Permite que las cajas hijo se alineen 
      automaticamente en varias filas cuando alcancen
      mostrarse en pantalla */
      flex-wrap: wrap;
      justify-content: center;
   }

   #cabecera .fila {
      flex-direction: row;
      gap: 50px;
      justify-content: space-between;
      align-items: row;
   }

   #cabecera #menu-principal a {
      padding: 10px 10px;
   }

   #cabecera #logo img {
      width: 50%;
      margin: auto;
   }

   #menu-principal .menu-barra {
      flex-direction: column;
      justify-content: center;
      align-content: center;
   } 
   #pie .fila1 {
      margin: 20px 0;
      flex-wrap: wrap;
      justify-content: center;
   }

   #tienda {
      flex-wrap: wrap;
      margin: -40px 0;
   }

   #tienda1 {
      margin: -50px 0;
   }

   #tienda-contenedor-foto{
      flex-wrap: wrap;
   }
   ul {
      position: relative;
      width: 100%;
      top: -40px;
      text-align: center;
   }
   nav ul li a {
      font-size: 0.7em;
      margin: -5px 0;
   }

   #pie p {
      font-size: 0.7em;
   }

/* MENU HAMBURGUESA  */

.burger{
   display: none;
   flex-direction: row;
   justify-content: center;
}

/* FORMULARIO RESPONSIVE */

#formulario{
   display: flex;
   flex-direction: column;
   align-items: center;
   
   
}

   .form-register {
      width: 100px;
      background: #e5f3dd;
      padding: 100px;
      margin: auto;
      margin-top: 10px;
      border-radius: 10px;
   
   }
   
   .form-register h3 {
      font-size:  30px;
      margin-bottom: 30px;
   
   }
   
   .controles {
      width: 250px;
      background: var(--color-blanco);
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 15px;
      border: 2px solid rgb(14, 98, 255);
   }

   #formulario p{
      display: flex;
      flex-direction: column;

   }
   
   .form-register .botones {
      width: 250px;
      background: #9ed930;
      border: none;
      padding: 15px;
      color: var(--color-blanco);
   }

   


} /* Codigo responsive para tableta (320px) */


/* TRANSFORMACIONES Y TRANSICIONES */
